<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PTMultiColumnTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77F38F2A1BF9DB69008E13DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F38F431BF9DB6A008E13DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F38F4E1BF9DB6A008E13DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
