<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PTMultiColumnTableViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77F38F691BF9DBEB008E13DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F38F821BF9DBEC008E13DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F38F8D1BF9DBEC008E13DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
